/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #08080a;
	background-color: #efdbdb;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #eeabc8;
}

.resume-main {
	background-color: #f1ede6;
}

.resume-aside {
    background-color: #eeabc8 !important; /* Change to your desired color */
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #9f2478;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.custom-heading {
    font-family: 'sans-serif'; /* Change the font */
    color: #9f2478; /* Change the color */
}

.language-level .language-progress {
    background-color: #9f2478 !important; /* Change to your desired color */
}
 
.language-level  {
    background-color: #eeabc8 !important; /* Change to your desired color */
}
.language-level {
    border: 4px solid #0d0b0b; /* Change to your desired border color */
    border-color: #000000a5 !important;
    border-radius: 0px; /* Optional: Add rounded corners */
}
